.main {
    display: flex;
    align-items: center;
    background-color: black;
}

.background {
    margin-right: 50px;
}

.backgroundImg {
    width: 1200px;
    height: 1300px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.intro {
    padding: 10px;
    font-size: 60px;
    color: white;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 500px;
    padding-top: 50px;
    color: white;
}
